<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aplus.aplusmarket.mapper.auth.UserMapper">
    <select id="selectUserById" parameterType="Long" resultType="User">
        SELECT *  FROM tb_user WHERE id = #{id}
    </select>
    <select id="selectUserByUid" parameterType="String" resultType="User">
        SELECT *  FROM tb_user WHERE uid = #{uid}
    </select>

    <select id="selectUserByEmail" parameterType="String" resultType="User">
        SELECT * FROM tb_user WHERE email = #{email}
    </select>

    <select id="selectUserByHp" parameterType="String" resultType="User">
        SELECT * FROM tb_user WHERE hp = #{hp}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_user(uid,password,email,hp,name,nickname,birthday)
        values (#{uid},#{password},#{email},#{hp},#{name},#{nickname}, #{birthday})
    </insert>


    <update id="updateUserById" parameterType="Integer">
        UPDATE tb_user
        <set>
            <if test="nickName != null">nickName=#{nickName},</if>
            <if test="email != null">email=#{email},</if>
            <if test="hp != null">hp=#{hp},</if>
        </set>
        WHERE id=#{id}
    </update>

    <select id="selectUserByNameAndEmail" parameterType="com.aplus.aplusmarket.dto.auth.requset.FindUserRequestDTO" resultType="String">
        SELECT uid FROM tb_user where name=#{name} and email=#{email}
    </select>
    <select id="selectUserByUidAndEmail" parameterType="com.aplus.aplusmarket.dto.auth.requset.FindUserRequestDTO" resultType="Long">
        SELECT id FROM tb_user where uid=#{uid} and email=#{email}
    </select>


    <update id="updatePassById" parameterType="com.aplus.aplusmarket.dto.auth.requset.FindUserRequestDTO">
        UPDATE tb_user SET password = #{password}
        WHERE id=#{id}
    </update>

    <update id="updateProfileImage" parameterType="com.aplus.aplusmarket.dto.auth.requset.ProfileUpdateRequestDTO">
        UPDATE tb_user SET profile_img = #{profileImg}
        WHERE id=#{id}
    </update>

    <select id="userIsExist" parameterType="Long" resultType="Boolean">
        SELECT COUNT(*) > 0 FROM tb_user WHERE id = #{id}
    </select>

    <update id="updateUserWithdrawal" parameterType="com.aplus.aplusmarket.entity.User" >
        UPDATE tb_user SET deleted_at = #{deletedAt} , status=#{status}
        WHERE id=#{id}
    </update>
    <delete id="deleteUser" parameterType="String">
        DELETE from tb_user where uid= #{uid}
    </delete>

</mapper>
